@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }

  body {
    @apply bg-white text-slate-900;
  }
}